extends /templates/layouts/default

block css
	link(rel='stylesheet' href='/js/lib/nouislider/jquery.nouislider.min.css')
	link(rel='stylesheet' href='/js/lib/nouislider/jquery.nouislider.pips.min.css')

block header
	.content-header: .app-container: .content-header-inner
		button(type='button', data-toggle='modal', data-target='#modal-score').btn.btn-primary.pull-right.mt-1.hidden-xs
			span.ion-plus.mr-5
			| Add Game
		.headerbar-logo
			include /public/images/logo.svg
		.headerbar-label PingPong Champion
		button(type='button', data-toggle='modal', data-target='#modal-score').headerbar-button.right.visible-xs-block
			span.ion-plus.mr-5
			| Score

//- block sidebar
	//- .sidebar-section
		//- .mini-heading
			//- span.ion-arrow-swap.mr-1
			| Navigation
		.sidebar-nav
			a(href='javascript:;').sidebar-nav-item.active This week
			a(href='javascript:;').sidebar-nav-item This month
			a(href='javascript:;').sidebar-nav-item This quarter
			a(href='javascript:;').sidebar-nav-item All Time
	//- .sidebar-divider
	.sidebar-section
		button(type='button', data-toggle='modal', data-target='#modal-score').btn.btn-primary.btn-block
			span.ion-plus.mr-5
			| Add Game
	//- .sidebar-section
		.mini-heading Games this Week
		.panel
			.alternator.positive
				.alternator-number
					.alternator-number-value 12
					.alternator-number-label Games this Week
				.alternator-percentage
					span.alternator-percentage-icon
					span.alternator-percentage-value 6%

block content
	+flash-messages(messages)
	//- PODIUM
	.podium
		each rankedPlayer, i in scoreboardPlayers
			if i < 3
				.podium-rank(class='podium-rank-#{i+1}')
					//- .podium-photo
						img(src='/images/temp/tuan.jpg').podium-photo-src
					span.podium-trophy.ion-trophy
					.podium-text
						.podium-title
							if i === 0
								| 1st
							if i === 1
								| 2nd
							if i === 2
								| 3rd
						.podium-subtitle= rankedPlayer.name.first

	//- TABLE
	if !scoreboardPlayers
		.no-results
			span.no-results-icon.ion-ios7-people
			.no-results-heading No players found.
			if searchterm
				.no-results-message You can 
					a(href=qs_set({ searchterm: undefined })) clear the search
					|  to see results.
			else
				.no-results-message You can 
					a(href=qs_set({ ageAfter: undefined, ageBefore: undefined, gender: undefined, visits: undefined, spend: undefined, carCount: undefined, lastVisitDate: undefined, joinedDate: undefined })) reset the filters
					|  to see results.
	else
		table.table
			col(width=20)
			col
			col(width=80)
			col(width=100).hidden-xs
			col(width=100).hidden-xs
			col(width=100).hidden-xs
			thead
				tr
					//- th &nbsp;
					+sortable-th('rank', 'Player', 'Player', 2)
					+sortable-th('points', 'Points')
					+sortable-th('totalGames', 'Games').hidden-xs
					+sortable-th('totalWins', 'Wins').hidden-xs
					+sortable-th('totalLosses', 'Losses').hidden-xs
			each player, i in scoreboardPlayers
				tr
					td: strong= player.rank
					td
						a(href='javascript:;' data-player=player).player-item
							.ui-table-avatar.ion-person
							= player.name.full
					td= player.points
					td.hidden-xs= player.totalGames
					td.hidden-xs= player.totalWins
					td.hidden-xs= player.totalLosses

block modal
	//- Modal: Add Game
	#modal-score(tabindex="-1", role="dialog", aria-labelledby="modalScore", aria-hidden="true").modal
		.modal-dialog.modal-sm
			.modal-content
				form(method='post' novalidate autocomplete='off').modal-form#game-score-form
					input(type='hidden', name='action', value='game.create')
					input(type='hidden', name='player1Score', value=0)
					input(type='hidden', name='player2Score', value=0)
					.modal-header.text-center
						button(type="button" data-dismiss="modal" aria-hidden="true").headerbar-button.cancel-button Cancel
						.modal-title#modal-player-details-title Add Game
						//- button(type="submit" data-submit-label="Save" disabled)#game-submit.headerbar-button.right.is-primary
					.game-slides
						.game-slide.game-slide-1
							.game-slide-field#player-1-name P1
							.player-select.player-1-select.g-row.g-row-sm-gutter
								each player, i in selectablePlayers
									.g-col.g-one-third: .player-select: label.game-score-button
										input(type='radio' name='player1' value=player.id data-name=player.name.first).visually-hidden
										= player.name.first
						.game-slide.game-slide-2
							.game-slide-field#player-1-score 0
							.player-select.g-row.g-row-sm-gutter
								each key, i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
									.g-col.g-one-third: .player-select: label.game-score-button.game-score-key
										input(type='radio' name='player1Score' value=key).visually-hidden
										= key

						.game-slide.game-slide-3
							.game-slide-field#player-2-name P2
							.player-select.player-2-select.g-row.g-row-sm-gutter
								each player, i in selectablePlayers
									.g-col.g-one-third: .player-select: label.game-score-button
										input(type='radio' name='player2' value=player.id data-name=player.name.first).visually-hidden
										= player.name.first
						.game-slide.game-slide-4
							.game-slide-field#player-2-score 0
							.player-select.g-row.g-row-sm-gutter
								each key, i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
									.g-col.g-one-third: .player-select: label.game-score-button.player-2-score-key
										input(type='radio' name='player2Score' value=key).visually-hidden
										= key
					//- Not ready for this
					//- textarea(name='notes' placeholder='Notes (optional)' rows=3).field



	//- Modal: Player Details
	#modal-player(tabindex="-1", role="dialog", aria-labelledby="modalPlayer", aria-hidden="true").modal
		.modal-dialog
			.modal-content
				.modal-header
					.modal-title#modal-player-details-title Player Details
					button(type="button" data-dismiss="modal" aria-hidden="true").headerbar-button.right Done

				.modal-body
					.player-dials
						.player-dial-wrapper
							.player-dial.player-dial-rank: .player-dial-inner
								.player-dials-subtitle Rank
								.player-dials-title 4th
						.player-dial-wrapper
							.player-dial.player-dial-score(title='Win/Loss ration (higher is better)'): .player-dial-inner
								span.player-dials-icon.ion-ribbon-a
								.player-dials-subtitle Score
								.player-dials-title 48%
						.player-dial-wrapper
							.player-dial.player-dial-points: .player-dial-inner
								.player-dials-subtitle Points
								.player-dials-title 105
					+labelled-chromeless-readonly-field({ label: 'Games',          name: 'totalGames',           value: 24 }).is-first
					+labelled-chromeless-readonly-field({ label: 'Wins',           name: 'totalWins',            value: 13 })
					+labelled-chromeless-readonly-field({ label: 'Loses',          name: 'totalLoses',           value: 11 })
					+labelled-chromeless-readonly-field({ label: 'Winning Streak', name: 'longestWinningStreak', value: 4 })
					+labelled-chromeless-readonly-field({ label: 'Losing Streak',  name: 'longestLosingStreak',  value: 3 })
					+labelled-chromeless-readonly-field({ label: 'Most Played',    name: 'mostPlayedOpponent',   value: 'Tuan' })
					+labelled-chromeless-readonly-field({ label: 'Least Played',   name: 'leastPlayedOpponent',  value: 'David' })
				.modal-header
					.modal-title Achievements
				.modal-body
					for streak in [5,10,20]
						.form-item: .form-control
							span.text-create.ion-checkmark.mr-1
							| Winning streak of #{streak}
					.form-item: .form-control
						span.text-create.ion-checkmark.mr-1
						| Played on their birthday
					.form-item: .form-control
						span.text-create.ion-checkmark.mr-1
						| Played for 5 days straight
					.form-item: .form-control
						span.text-create.ion-checkmark.mr-1
						| Played 10 games in one day
					.form-item: .form-control
						span.text-create.ion-checkmark.mr-1
						| Finished a game in under 5 minutes
				.modal-header
					.modal-title Last 20 Games
				.modal-body
					table.table
						col
						col(width=100)
						col(width=100)
						thead
							tr
								th Opponent
								th Outcome
								th Score
						each player, i in scoreboardPlayers
							tr.ui-table-row
								td= player.name.full
								td= i%3==1 ? 'Lost' : 'Won'
								td #{Math.floor(Math.random() * 11) + 1} / 11

block js
	script.
		jQuery(function($) {
			// Player Select 
			// ------------------------------

			
			//- progress

			var slideDeck = $('.game-slides'),
				modalTitle = $('#modal-player-details-title'),
				currentSlide = 1,
				nextSlide,
				prevSlide;
			
			slideDeck.addClass('show-slide-1');
			modalTitle.text('Select P1');

			var handleSlideChange = function(currentSlide) {
				setTimeout(function() {
					if (currentSlide === 1) {
						slideDeck.addClass('show-slide-1');
						modalTitle.text('Select P1');
						nextSlide = 2;
						prevSlide = null;
					} else if (currentSlide === 2) {
						slideDeck.removeClass('show-slide-1').addClass('show-slide-2');
						modalTitle.text('P1 Score');
						nextSlide = 3;
						prevSlide = 1;
					} else if (currentSlide === 3) {
						slideDeck.removeClass('show-slide-2').addClass('show-slide-3');
						modalTitle.text('Select P2');
						nextSlide = 4;
						prevSlide = 2;
					} else if (currentSlide === 4) {
						slideDeck.removeClass('show-slide-3').addClass('show-slide-4');
						modalTitle.text('P2 Score');
						nextSlide = null;
						prevSlide = 3;
					}
				}, 200);
			}


			//- Player Select
			//- ------------------------------

			var player1Controls = $('[name=player1]');
			var player2Controls = $('[name=player2]');

			var togglePlayer1 = function() {

				var p1 = $(this);

				// remove all classes
				$('.game-slide-1').find('.game-score-button').removeClass('active');
				$('.game-slide-2').find('.game-score-button').removeClass('disabled');
				
				// and uncheck all boxes
				player1Controls.each(function() {
					var $checkbox = $(this);
					$checkbox.prop('checked', !$checkbox.prop('checked'));
				});

				// select the button that was clicked
				if (p1.prop('checked', true)) {
					p1.closest('.game-score-button').addClass('active');
				}

				// disable the matching opponent
				player2Controls.each(function() {
					var $checkbox = $(this);
					if (p1.val() === $checkbox.val()) {
						$checkbox
							.closest('.game-score-button')
							.addClass('disabled');
					}
				});

				//- populate the input and progress the slides
				$('#player-1-name').text(p1.data('name'));
				handleSlideChange(2);

			}
			var togglePlayer2 = function() {

				var p2 = $(this);

				// remove all classes
				$('.game-slide-2').find('.game-score-button').removeClass('active');
				$('.game-slide-1').find('.game-score-button').removeClass('disabled');
				
				// and uncheck all boxes
				player2Controls.each(function() {
					var $checkbox = $(this);
					$checkbox.prop('checked', !$checkbox.prop('checked'));
				});

				// select the button that was clicked
				if (p2.prop('checked', true)) {
					p2.closest('.game-score-button').addClass('active');
				}
				
				// disable the matching opponent
				player1Controls.each(function() {
					var $checkbox = $(this);
					if (p2.val() === $checkbox.val()) {
						$checkbox
							.closest('.game-score-button')
							.addClass('disabled');
					}
				});

				//- populate the input and progress the slides
				$('#player-2-name').text(p2.data('name'));
				handleSlideChange(4);

			}


			

			// Score Select
			// ------------------------------

			var togglePlayer1Score = function() {

				p1score = $(this);

				console.log(p1score.val());

				//- populate the input and progress the slides
				$('#player-1-score').text(p1score.val());
				handleSlideChange(3);

			}
			var togglePlayer2Score = function() {

				p2score = $(this);

				//- populate the input and progress the slides
				$('#player-2-score').text(p2score.val());
				setTimeout(function() {
					$('#game-score-form').submit();
				}, 100);
				

			}

			//- handle button clicks
			$('[name=player1]').change(togglePlayer1);
			$('[name=player2]').change(togglePlayer2);
			$('[name=player1Score]').change(togglePlayer1Score);
			$('[name=player2Score]').change(togglePlayer2Score);
			

			
			
			

			// Populate the Player Modal
			// ------------------------------

			$('.player-item').each(function() {
				
				var $player = $(this),
					$playerData = $player.data('player'),
					$playerModal = $('#modal-player');

				$player.click(function() {
					$playerModal.modal();
					
					//- populate content
					$playerModal.find('#modal-player-details-title').text([$playerData.name.first,$playerData.name.last].join(' '));
					
					$playerModal.find('.input-name').text([$playerData.name.first, $playerData.name.last].join(' '));
					$playerModal.find('.input-email').text($playerData.email);
					$playerModal.find('.input-gender').text($playerData.gender);
					$playerModal.find('.input-dob').text($playerData.dob);
				});

			});
		});